
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forum</title>
  <link rel="stylesheet" href="../../static/css/header.css" />
  <link rel="stylesheet" href="../static/css/{{.}}" />
</head>
<header>
  <div><img src="../../static/svg/logo.svg" alt="Speak logo"></div>
  <div class="icons">
    <span><img src="../../static/svg/Home.svg" alt=""></span>
    <span><img src="../../static/svg/Heart.svg" alt=""></span>
    <span><img src="../../static/svg/Send.svg" alt=""></span>
  </div>
  <div><img src="../../static/svg/avatar.svg" alt=""></div>
</header>